<input [(ngModel)]="id">
<input readonly [(ngModel)]="id">
  Mon id est : {{id}}

  <BR>

    Mon Pokemon selectionné est  : {{selectedPokeId}}
  <BR>

    <input [(ngModel)] = "searchPokeName">
  <BR>

    <select [(ngModel)]="selectedPokeId">
      <option [value]="poke.id"
      *ngFor="let poke of pokes | filterPokemonPipe :'name' : searchPokeName "> {{ poke.name }} </option>
    </select>
    <button (click)="go()" >GO</button>
    Id du Pokemon selectionné : {{selectedPokeId}}
  <BR>

    <div  *ngIf="pokeInfo">

      <app-pokedetail [detail]= "pokeInfo"> </app-pokedetail>
    </div>

    <p-calendar [(ngModel)]="myDate"></p-calendar>







